**Feature scaling = features ko same scale pe lana**

**Without scaling:**

**Large values dominate**

**Distance-based algorithms confuse**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("HousingData.csv")

In [3]:
X = df.drop("MEDV", axis=1)
y = df["MEDV"]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

**Apply StandardScaler**

In [5]:
scaler = StandardScaler()

**Fit on training data**

In [6]:
X_train_scaled = scaler.fit_transform(X_train)

In [7]:
X_test_scaled = scaler.transform(X_test)

In [8]:
X_train_scaled_df = pd.DataFrame(
    X_train_scaled,
    columns=X_train.columns
)

In [9]:
X_train.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,386.000000,387.000000,386.000000,388.000000,404.000000,404.000000,388.000000,404.000000,404.000000,404.000000,404.000000,404.000000,389.000000
mean,3.601731,11.506460,10.879482,0.072165,0.556484,6.315891,68.355412,3.808195,9.356436,404.032178,18.318317,356.278342,12.479640
std,9.012465,23.415526,6.859694,0.259095,0.117704,0.709452,27.830877,2.131226,8.589721,166.172655,2.228701,91.566533,7.098089
min,0.009060,0.000000,0.740000,0.000000,0.385000,3.863000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.080573,0.000000,5.130000,0.000000,0.452000,5.890500,45.550000,2.087875,4.000000,279.000000,16.800000,375.472500,6.870000
50%,0.261390,0.000000,8.560000,0.000000,0.538000,6.210000,76.950000,3.175750,5.000000,330.000000,18.700000,391.305000,10.970000
75%,2.808720,15.000000,18.100000,0.000000,0.631000,6.636750,93.325000,5.400800,12.000000,666.000000,20.200000,395.755000,16.300000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [10]:
X_train_scaled_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,3.860000e+02,3.870000e+02,3.860000e+02,3.880000e+02,4.040000e+02,4.040000e+02,3.880000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,4.040000e+02,3.890000e+02
mean,2.300980e-17,-2.295035e-18,2.439039e-16,6.180623e-17,-5.111423e-16,-2.616169e-16,-6.409535e-17,5.248827e-17,-9.453384e-17,-1.516938e-16,8.519038e-16,-4.946538e-16,-6.735543e-17
std,1.001298e+00,1.001294e+00,1.001298e+00,1.001291e+00,1.001240e+00,1.001240e+00,1.001291e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001240e+00,1.001288e+00
min,-3.991509e-01,-4.920391e-01,-1.480043e+00,-2.788867e-01,-1.458711e+00,-3.461733e+00,-2.354936e+00,-1.258391e+00,-9.740476e-01,-1.307684e+00,-2.568944e+00,-3.892249e+00,-1.516392e+00
25%,-3.912058e-01,-4.920391e-01,-8.392421e-01,-2.788867e-01,-8.887828e-01,-6.003488e-01,-8.204865e-01,-8.081981e-01,-6.243599e-01,-7.533563e-01,-6.821011e-01,2.098797e-01,-7.913207e-01
50%,-3.711167e-01,-4.920391e-01,-3.385708e-01,-2.788867e-01,-1.572334e-01,-1.494427e-01,3.092136e-01,-2.971196e-01,-5.077973e-01,-4.460660e-01,1.714705e-01,3.830012e-01,-2.129565e-01
75%,-8.810465e-02,1.493907e-01,1.053967e+00,-2.788867e-01,6.338607e-01,4.528240e-01,8.983485e-01,7.481981e-01,3.081406e-01,1.578434e+00,8.453428e-01,4.316600e-01,5.389169e-01
max,9.485227e+00,3.784160e+00,2.461101e+00,3.585686e+00,2.675394e+00,3.477564e+00,1.138500e+00,3.907900e+00,1.706891e+00,1.849573e+00,1.653990e+00,4.441800e-01,3.595783e+00

**One-feature deep check (Very important)**

In [11]:
X_train["TAX"].head()

477    666
15     307
332    304
423    666
19     307
Name: TAX, dtype: int64

In [12]:
X_train_scaled_df["TAX"].head()

0    1.578434
1   -0.584648
2   -0.602724
3    1.578434
4   -0.584648
Name: TAX, dtype: float64

**Always scale after train-test split**
**Never fit on test data**

**Scaling â‰  modeling**